extends layout
include mixins

block content
  +nav("Project name", "dropdown_menu")
      +nav_item( "index.html", "active" ) Home
      +nav_item( "about.html" ) About
      +nav_item( "contact.html" ) Contact
      +nav_item_dropdown( "#" )( label="Dropdown")
          +nav_item( "#" ) Action
          +nav_item( "#" ) Another action
          +nav_item( "#" ) Something else here
          +nav_divider
          +nav_header Nav header
          +nav_item( "#" ) Separated link
          +nav_item( "#" ) One more separated link	  
  h1= title
  div(class="text-center text-primary")
      p Welcome to #{title}
  div(class="text-left")
      p Now Scram you muggle!!
  
